<h1>Eventos</h1>
<div *ngFor="let evento of eventos">
  <p><b>Tema:</b> {{ evento.tema }} </p>
  <p><b>Local:</b> {{ evento.local }} </p>
  <i class="fas fa-user"></i>

  <alert type="success">
    <strong>Well done!</strong> You successfully read this important alert message.
  </alert>
  <alert type="info">
    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
  </alert>
  <alert type="warning">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </alert>
  <alert type="danger">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </alert>
  <hr>
</div>
